#container {
    margin: auto;
    width: 540px;
    height: 540px;
    display: grid;
    outline: solid 2px black;
}
#container div{
    background-color: white;
    border-top: solid 1px black;
    border-left: solid 1px black;
}

#container div::before {
    content: '';
    padding-bottom: 100%;
    display: block;
}